{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
            <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.started_at.label }} {% if form.started_at.flags.optional %}<i>(optional)</i>{% endif %}
                {% if form.started_at.errors %}
                {{ form.started_at(class="form-control is-invalid", type="datetime-local") }}
                {% else %}
                {{ form.started_at(class="form-control", type="datetime-local") }}
                {% endif %}
                {% if form.started_at.description %}
                <small id="{{ form.started_at.id }}Help" class="form-text text-muted">{{ form.started_at.description }}</small>
                {% endif %}
                {% for error in form.started_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.ended_at.label }} {% if form.ended_at.flags.optional %}<i>(optional)</i>{% endif %}
                {% if form.ended_at.errors %}
                {{ form.ended_at(class="form-control is-invalid", type="datetime-local") }}
                {% else %}
                {{ form.ended_at(class="form-control", type="datetime-local") }}
                {% endif %}
                {% if form.ended_at.description %}
                <small id="{{ form.ended_at.id }}Help" class="form-text text-muted">{{ form.ended_at.description }}</small>
                {% endif %}
                {% for error in form.ended_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.feed_type.label }} {% if form.feed_type.flags.optional %}<i>(optional)</i>{% endif %}
                {% if form.feed_type.errors %}
                {{ form.feed_type(class="form-control is-invalid") }}
                {% else %}
                {{ form.feed_type(class="form-control") }}
                {% endif %}
                {% if form.feed_type.description %}
                <small id="{{ form.feed_type.id }}Help" class="form-text text-muted">{{ form.feed_type.description }}</small>
                {% endif %}
                {% for error in form.feed_type.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.amount.label }} {% if form.amount.flags.optional %}<i>(optional)</i>{% endif %}
                {% if form.amount.errors %}
                {{ form.amount(class="form-control is-invalid", type="number", min="0") }}
                {% else %}
                {{ form.amount(class="form-control", type="number", min="0") }}
                {% endif %}
                {% if form.amount.description %}
                <small id="{{ form.amount.id }}Help" class="form-text text-muted">{{ form.amount.description }}</small>
                {% endif %}
                {% for error in form.amount.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.unit.label }} {% if form.unit.flags.optional %}<i>(optional)</i>{% endif %}
                {% if form.unit.errors %}
                {{ form.unit(class="form-control is-invalid") }}
                {% else %}
                {{ form.unit(class="form-control") }}
                {% endif %}
                {% if form.unit.description %}
                <small id="{{ form.unit.id }}Help" class="form-text text-muted">{{ form.unit.description }}</small>
                {% endif %}
                {% for error in form.unit.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.notes.label }} {% if form.notes.flags.optional %}<i>(optional)</i>{% endif %}
                {% if form.notes.errors %}
                {{ form.notes(class="form-control is-invalid") }}
                {% else %}
                {{ form.notes(class="form-control") }}
                {% endif %}
                {% if form.notes.description %}
                <small id="{{ form.notes.id }}Help" class="form-text text-muted">{{ form.notes.description }}</small>
                {% endif %}
                {% for error in form.notes.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <p><button class="btn btn-success" type="submit"><i class="fas fa-plus fa-lg fa-fw"></i> Add formula</button></p>
            <p><a class="btn btn-secondary" href="{{ url_for('view_diary') }}" role="button"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Go back</a></p>
        </form>
    </div>
</div>
{% endblock %}