{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
            <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.started_at.label }}
                {% if form.started_at.errors %}
                {{ form.started_at(class="form-control is-invalid", type="datetime-local") }}
                {% else %}
                {{ form.started_at(class="form-control", type="datetime-local") }}
                {% endif %}
                {% for error in form.started_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.ended_at.label }} <i>(optional)</i>
                {% if form.ended_at.errors %}
                {{ form.ended_at(class="form-control is-invalid", type="datetime-local") }}
                {% else %}
                {{ form.ended_at(class="form-control", type="datetime-local") }}
                {% endif %}
                <small id="endedAtHelp" class="form-text text-muted">{{ form.ended_at.description }}</small>
                {% for error in form.ended_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.side.label }}
                {% for subfield in form.side %}
                <div class="form-check">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
                {% endfor %}
                {% for error in form.side.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.notes.label }} <i>(optional)</i>
                {% if form.notes.errors %}
                {{ form.notes(class="form-control is-invalid") }}
                {% else %}
                {{ form.notes(class="form-control") }}
                {% endif %}
                {% for error in form.notes.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <p><button class="btn btn-success" type="submit"><i class="fas fa-plus fa-lg fa-fw"></i> Add breastfeed</button></p>
            <p><a class="btn btn-secondary" href="{{ url_for('view_diary') }}" role="button"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Go back</a></p>
        </form>
    </div>
</div>
{% endblock %}