{% extends "base.html" %}
{% block content %}
{% if current_user.children %}
<div class="row">
    <div class="col">
        <div class="card-deck">
            {% for child in children %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="#">{{ child.first_name }} {{ child.last_name }}</a></h5>
                    <p class="card-text">Date of birth: {{ child.date_of_birth }}</p>
                </div>
            </div>
            {% endfor %} 
        </div>
        <hr>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col">
        <a class="btn btn-success" href="{{ url_for('register_child') }}" role="button"><i class="fas fa-child fa-lg"></i> Register a child</a>
    </div>
</div>
{% endblock %}