{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% if current_user.is_anonymous %}
        <div class="jumbotron">
            <h1 class="display-4">Childcare Diary</h1>
            <p class="lead">Keep track of your child's daily routine, including feeding, changing, sleep and more.</p>
            <hr class="my-4">
            <p class="lead">Sign up for a <strong>free</strong> account today!<br>
            <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button"><i class="fas fa-user-plus fa-lg fa-fw"></i> Sign up</a></p>
            <p class="lead">Aleady a member?<br>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('login') }}" role="button"><i class="fas fa-sign-in-alt fa-lg fa-fw"></i> Log in</a></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}