{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <dl>
            <dt>Name</dt>
            <dd>{{ current_user.first_name }} {{ current_user.last_name }}</dd>

            <dt>Email address</dt>
            <dd>{{ current_user.email_address }}</dd>

            <dt>Member since</dt>
            <dd>{{ current_user.created_at }}</dd>

            <dt>Logged in since</dt>
            <dd>{{ current_user.login_at }}</dd>

            {% if current_user.updated_at %}
            <dt>Last updated</dt>
            <dd>{{ current_user.updated_at }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
        <a class="btn btn-primary" href="{{ url_for('edit_user', id=current_user.id) }}" role="button"><i class="fas fa-edit fa-lg"></i>
            Update profile</a>
        <a class="btn btn-primary" href="{{ url_for('change_password', id=current_user.id) }}" role="button"><i class="fas fa-key fa-lg"></i>
            Change password</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash fa-lg"></i>
            Delete account</button>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your account and all personal information will be permanently and irreversibly deleted.</p>
                <p>This will also delete:</p>
                <ul>
                    <li>Any children that are not currently associated with another user.</li>
                    <li>Any entries relating to those children.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{{ url_for('delete_user', id=current_user.id) }}" role="button"><i
                        class="fas fa-trash fa-lg"></i> Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}